.soalinSlides {
    overflow: hidden;
    position: relative;
}

.soalinSlides ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.5s;
}

.soalinSlides ol > li img {
    vertical-align: top;
}

.soalinSlides-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.soalinSlides-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
